.collapse {
    border-radius: 10px;

    &_top {
        background-color: $primaryColor;
        color: $white;
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 15px;
        border-radius: 10px;
    }

    &_arrow {
        cursor: pointer;
        transition: transform 0.5s ease;
    }

    &_arrow.rotate {
        transform: rotate(180deg);
    }

    &__content {
        background-color: $backgroundColor;
        color: $primaryColor;
        font-size: 18px;
        font-weight: 400;
        border-radius: 0 0 5px 5px;
        padding: 15px;
    }
}
