.slider {
  overflow: hidden;
  width: 100%;
  max-height: 415px;
  position: relative;

  @media (max-width: 630px) {
    max-height: 255px;
  }

  &_content {
    white-space: nowrap;
    max-height: 415px;

    @media (max-width: 630px) {
      max-height: 255px;
    }
  }

  &_item {
    object-fit: cover;
    height: 415px;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 630px) {
      max-height: 255px;
    }
  }

  &_img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 25px;

    @media (max-width: 630px) {
      max-height: 255px;
    }
  }
}

.button_arrow {
  background: none;
  border: none;
  cursor: pointer;
  z-index: 2;
  width: 47px;
  height: 79px;
  position: absolute;
  top: 40%;

  @media (max-width: 630px) {
    width: 12px;
    height: 20px;
    top: 50%;
  }

  &-img {
    width: 100%;
    height: 100%;
  }
}

.arrow_left {
  left: 24px;

  @media (max-width: 630px) {
    left: 5px;
  }
}

.arrow_right {
  right: 24px;

  @media (max-width: 630px) {
    right: 5px;
  }
}

.slider_count {
  font-size: 18px;
  z-index: 2;
  color: white;
  position: absolute;
  bottom: 25px;
  left: 50%;

  @media (max-width: 630px) {
    display: none;
  }
}
