.tag {
    background-color: $primaryColor;
    border-radius: 10px;
    padding: 3px 22px;

    &_text {
        color: $white;
        font-size: 14px;

        @media (max-width: 630px) {
            font-size: 10px;
        }
    }
}
