.banner {
  margin-bottom: 43px;
}

.home_content {
  background: $backgroundColor;
  padding: 56px 50px 43px 50px;
  border-radius: 25px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 60px;
  grid-row-gap: 50px;
}
