@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
    margin: 0;
    padding: 0;
}

.collapse {
    border-radius: 10px;

    &_top {
        background-color: #ff6060;
        color: white;
        font-size: 24px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 15px;
    }

    &_arrow {
        cursor: pointer;
        transition: transform 0.5s ease;
    }

    &_arrow.rotate {
        transform: rotate(180deg);
    }

    .collapse__content {
        background-color: #f6f6f6;
        color: #ff6060;
        font-size: 18px;
        font-weight: 400;
        border-radius: 0 0 5px 5px;
        padding: 15px;
    }
}
