@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
}

.footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 66px 0 29px 0;
    font-size: 24px;

    @media (max-width: 630px) {
        font-size: 12px;
        display: flex;
        justify-content: center;
        padding-bottom: 58px;
    }

    &_content {
        @media (max-width: 630px) {
            max-width: 120px;
        }
    }

    &_logo {
        margin-bottom: 29px;

        @media (max-width: 630px) {
            margin-bottom: 20px;
        }
    }
}